body {
  margin: 0;
  padding: 0;
  font-family: "游明朝";
}

a {
  text-decoration: none;
  color: black;
}

.head-wrapper {
  width: 100%;
  margin: 0 auto;
}

header {
  height: 30px;
  width: 100%;
  padding: 10px 0;
  top: 0;
  position: fixed;
  background-color: white;
  margin: 0 auto;
  z-index: 2;
}

.head-right { display:block; }
.head-right2 { display:none; }

.head-left {
  display:inline-block;
  float: left;
  width: 100px;
}

.head-top {
  padding: 0 70px;
}

.head-right {
  display:inline-block;
  float: right;
  width: 600px;

}

.head-right a{
  padding: 0 25px;
}

.top-wrapper {
  height: 800px;
  padding: 0;
  background-image: url("image/0_top/ffxiv_20201124_030130_719.png");
  background-size: cover;
  background-position: 0% 45%;
}

.top-wrapper h1 {
  text-align: left;
  padding: 500px 100px;
}

.message-wrapper {
  height: 800px;
  background-image: url("image/1_message/ffxiv_20201125_153449_2401.png");
  background-size: cover;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sp { display:none; }

.Booth {
  height: 800px;
}

.Booth-wrapper {
  float: left;
  width: 25%;
  height: 100%;
}

.horizont1{
  height: 100%;
  overflow: hidden;
}

.horizont1  img{
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: 80% 50%;
}

.horizont1 img:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

.horizont2{
  height: 100%;
  overflow: hidden;
}

.horizont2  img{
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: 35% 50%;
}

.horizont2 img:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

.horizont3{
  height: 100%;
  overflow: hidden;
}

.horizont3  img{
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: 60% 50%;
}

.horizont3 img:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

.stairs{
  height: 100%;
  overflow: hidden;
}

.stairs img{
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: 40% 50%;
}

.stairs img:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

.Booth-image {
  position: relative;
}

.Booth-image h2{
  position: absolute;
  top: 3%;
  left: 20px;
  width: 100%;
  font-size: 30px;
  color: white;
}

.Booth-image p{
  position: absolute;
  top: 90%;
  left: 20px;
  width: 100%;
  color: white;
}

.access {
  height: 800px;
  background-image: url("image/3_access/ffxiv_20201125_155304_7892.png");
  background-size: cover;
  overflow: hidden;
}

.access p,img{
    text-align: center;
    width: 80%;
    height: 80%;
    font-size: 18px;
    margin: 0 auto;
}

.access h2{
  position: absolute;
  text-align: left;
  top: 3%;
  left: 20px;
  width: 100%;
  font-size: 30px;
  color: white;
}

.access-wrapper {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.map{
  position: absolute;
  top: 20%;
  left: 20%;
}

.underground{
  position: absolute;
  top: 20%;
  left: 20%;
}

.gallery-wrapper{
  height: 800px;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.gallery-wrapper h2{
  position: absolute;
  text-align: left;
  top: 3%;
  left: 20px;
  width: 100%;
  font-size: 30px;
  color: white;
  z-index: 1;
}

.gallery-wrapper ul{
  margin: 0px 80px 0px 80px;
  padding: 0;

}

.gallery-wrapper img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }

.gallery-wrapper { display:block; }
.gallery-wrapper2 { display:none; }

.info-wrapper{
  height: 300px;
  text-align: center;
  overflow: hidden;
}

.info{
  height: 180px;
  margin: 60px 0;
}

.info-text {
  width: 960px;
  font-size: 20px;
  margin: 0 auto;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
}

.twitter {
  background: #55acee;
}

footer{
  height: 50px;
  color: white;
  background-color: black;
}

footer p{
  text-align: center;
  margin: 0 auto;
}
